{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{% block title%}
Registro materia
{% endblock %}
{% block body %}
<!-- Page Content -->
<div class="container">
<!-- Page Content -->
<div class="row">


<div class="col-lg-8 mb-4">
<h2 class="mt-4 mb-3">Nueva Materia</h2>
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="control-group form-group">
     {{ form_label(form.nombre_materia) }}
     {{ form_errors(form.nombre_materia) }}
     {{ form_widget(form.nombre_materia) }}
     </div>
     <div>
     <div class="control-group form-group">
     {{ form_label(form.guardar) }}
     {{ form_widget(form.guardar) }}
     </div>
 {{ form_end(form) }}
 </div>
 </div>
 </div>
 </div>
 

{% endblock %}
